<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Akismet test suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>